.DetailGame {
  display: grid;
  grid-template: auto / 1fr 2fr;
  column-gap: 16px;
  margin-top: 24px;

  @media (max-width: 768px) {
    grid-template: auto / 1fr;
    row-gap: 24px;
    padding-bottom: 32px;
  }
}

.errorPlug {
  margin-top: 24px;
  text-align: center;
}

.leftColumn {
  width: 100%;
}

.rightColumn {
  width: 100%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin-bottom: 8px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  color: var(--light-gray-color);
}

.title {
  color: var(--light-gray-color);
  font: var(--font-xl);
  margin-bottom: 16px;
}

.carousel {
  margin-bottom: 24px;
}

.reqTitle {
  margin-bottom: 6px;
}

.requirement {
  display: flex;
  align-items: center;
  column-gap: 6px;
  flex-wrap: wrap;
}

.key {
  text-transform: capitalize;
  color: var(--light-gray-color);
}